.git
.github
*.docx
orderflow_app/node_modules
orderflow_app/vendor
orderflow_app/.env
orderflow_app/.phpunit.result.cache
orderflow_app/storage/framework/cache/*
orderflow_app/storage/framework/sessions/*
orderflow_app/storage/framework/views/*
orderflow_app/storage/logs/*
orderflow_app/storage/app/private/*
orderflow_app/public/storage
orderflow_app/docker/db_data
*.tar.gz
*.zip
.DS_Store
Thumbs.db
