.git
.github
.env
.env.backup
.env.production
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/app/private/*
public/storage
docker/db_data
*.tar.gz
*.zip
.DS_Store
Thumbs.db
